<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>connexion</title>
    
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
   
   
</head>
<body>
    <div class="login">

         <!--Debut du container-->
    <div id="container">
        <!--Debut du form wrap-->
        <div class="form-wrap">
            <div class="image">
                <div><h2><i class='bx bxs-key'></i>CONNEXION</h2> </div>
                
            </div>
            <!--debut du form-->
            <form>
                
                <div class="form-group">
                    <label for="email" class="lab">Email</label>
                    <input type="text" name="email" id="email" placeholder="exemple@gmail.com">
                </div>
                <div class="form-group">
                    <label for="mot_de_pass" class="lab">Mot de passe</label>
                    <input type="text" name="mot_de_pass" id="mot_de_pass" placeholder="******************">
                </div>
                <div class="form-group">
                    
                    <div class="formgroupe-elem">
                        <div><a href="#" class="btn">connexion</a></div>
                        <div><p>Vous n'avez pas de compte? <a href="#"><b>S'inscrire.</b></a></p></div>
                    </div>

                </div>
                
                
            </form>
            <!--fin du form-->
        </div>

         <!--Fin du form wrap-->
    </div>

    <!--Fin du container-->

    </div>
</body>
</html>